* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
ul {
  list-style-type: none;
}

.hed {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding-left: 70px;
  padding-right: 70px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hedphone {
  background-color: #ffbb00;
  width: 54px;
  height: 54px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.number h4 {
  width: 106px;
  height: 23px;
  font-weight: 400;
  size: 15px;
  line-height: 23.25px;
  color: #0c0d0f;
}
.number p {
  width: 106px;
  height: 20px;
  font-weight: 400;
  size: 13px;
  line-height: 20.15px;
  color: #949494;
}
.but {
  width: 135px;
  height: 54px;
  background-color: #151000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.but button {
  outline: none;
  border: none;
  color: #fff;
  width: 87px;
  height: 24px;
  font-weight: 700;
  size: 15px;
  line-height: 24px;
  background-color: #151000;
}
.burger {
  display: none;
}
.links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 12px;
  border-bottom: 1px solid #efefef;
  color: #0c0d0f;
  font-size: 15px;
  font-weight: 500;
}

.links li {
  color: #0c0d0f;
  font-size: 15px;
  font-weight: 500;
}

.hero {
  display: flex;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
  height: max-content;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
}

.machinphoto {
  width: 100%;
}

.hesab {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  margin-top: 20px;
  width: 50%;
}

.frst {
  width: 95px;
  height: 31px;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  text-align: right;
  color: #0c0d0f;
}
.hesab h3 {
  width: 456px;
  height: 60px;
  font-weight: 950px;
  font-size: 30px;
  line-height: 60px;
  text-align: right;
}
.firstspan {
  color: #ffbb00;
  font-weight: 950px;
  font-size: 30px;
  line-height: 60px;
  text-align: right;
}
.text {
  width: 536px;
  height: 90px;
  font-weight: 400;
  font-size: 15px;
  line-height: 45px;
  text-align: right;
  color: #949494;
  text-wrap: wrap;
}
.start {
  width: 139px;
  height: 54px;
  border-radius: 10px;
  background-color: #151000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start button {
  outline: none;
  border: none;
  color: #fff;
  width: 87px;
  height: 24px;
  font-weight: 700;
  size: 15px;
  line-height: 24px;
  background-color: #151000;
}
.footer {
  width: 100%;
  height: 642px;
  background-color: #0c0d0f;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upfoot {
  width: 100%;
  height: 522px;
  background-color: #0c0d0f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.leftitem {
  height: 262px;
  width: 468px;
  color: #ffffff;
  text-align: end;
  justify-content: end;
}
.leftitem h2 {
  /* width: 162px; */
  height: 50px;
  font-weight: 950px;
  font-size: 30px;
  line-height: 50px;
  text-align: end;
}
.leftitem p {
  height: 200px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  margin-top: 15px;
}
.rightul {
  height: 200px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: end;
}
.rightitem {
  display: flex;
  width: 780px;
  height: 262px;
  justify-content: center;
  align-items: center;
}
.firsti {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.resalt {
  text-align: end;
  color: #ffffff;
  height: 50px;
  font-weight: 950;
  font-size: 20px;
  line-height: 50px;
}
.ulitem {
  display: flex;
  gap: 30px;
}
.downitem {
  width: 113px;
  height: 200px;
  font-weight: 400;
  size: 14px;
  line-height: 40px;
  color: #ffffff;
}
.upitem h2 {
  width: 138px;
  height: 50px;
  font-weight: 950;
  size: 20px;
  line-height: 50px;
}
.leftul {
  width: 207px;
  height: 200px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 40px;
  text-align: end;
  color: #ffffff;
}
.secondi {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.ertbat {
  width: 90%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  margin-top: 60px;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ertbatsvg {
  width: 52px;
  height: 52px;
  border-radius: 11px;
  border: 1px solid #0c0d0f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time p {
  width: 79px;
  height: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21.7px;
  color: #949494;
  text-align: right;
}
.time h6 {
  width: 90px;
  height: 23px;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #0c0d0f;
}
.second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.forth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: end;
}
.lok p {
  color: #949494;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: end;
}
.lok h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #0c0d0f;
}
.downfoot {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  background-color: #0c0d0f;
}
.program {
  display: flex;
  gap: 8px;
  width: 288px;
  height: 48px;
}
.programsvg {
  background-color: #fff;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondtext {
  height: 36px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  display: flex;
  gap: 8px;
}
.appsvg {
  width: 50px;
  height: 50px;
}

@media (max-width: 680px) {
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #efefef;
    border-radius: 10px;
  }
  .but {
    display: none;
  }
  .number {
    display: none;
  }
  .hedphone {
    width: 48px;
    height: 48px;
    background-color: #efefef;
  }
  .photo {
    width: 116px;
    height: 29px;
  }
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hesab {
    text-align: center;
    align-items: center;
    height: 233px;
    margin-top: 0px;
  }
  .machinphoto {
    margin-top: 30px;
    width: 100%;
  }
  .start button {
    width: 139px;
    height: 54px;
    border-radius: 10px;
  }
  .start {
    width: 139px;
    height: 54px;
    border-radius: 10px;
    margin-top: 24px;
  }
  .text {
    height: 72px;
    width: 336px;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
  }
  .hesab h3 {
    width: 334px;
    height: 55px;
    font-weight: 950px;
    font-size: 22px;
    line-height: 55px;
  }
  .firstspan {
    line-height: 55px;
    font-size: 22px;
    font-weight: 950px;
  }
  .frst {
    width: 86px;
    height: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27.9px;
  }

  .links {
    display: none;
  }
}
