* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
ul {
  list-style-type: none;
}

.hed {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding-left: 70px;
  padding-right: 70px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hedphone {
  background-color: #ffbb00;
  width: 54px;
  height: 54px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.number h4 {
  width: 106px;
  height: 23px;
  font-weight: 400;
  size: 15px;
  line-height: 23.25px;
  color: #0c0d0f;
}
.number p {
  width: 106px;
  height: 20px;
  font-weight: 400;
  size: 13px;
  line-height: 20.15px;
  color: #949494;
}
.but {
  width: 135px;
  height: 54px;
  background-color: #151000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.but button {
  outline: none;
  border: none;
  color: #fff;
  width: 87px;
  height: 24px;
  font-weight: 700;
  size: 15px;
  line-height: 24px;
  background-color: #151000;
}
.burger {
  display: none;
}
.links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 12px;
  border-bottom: 1px solid #efefef;
  color: #0c0d0f;
  font-size: 15px;
  font-weight: 500;
}

.links li {
  color: #0c0d0f;
  font-size: 15px;
  font-weight: 500;
}

.hero {
  display: flex;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
  height: max-content;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
}

.machinphoto {
  width: 100%;
}

.hesab {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  margin-top: 20px;
  width: 50%;
}

.frst {
  width: 95px;
  height: 31px;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  text-align: right;
  color: #0c0d0f;
}
.hesab h3 {
  width: 456px;
  height: 60px;
  font-weight: 950px;
  font-size: 30px;
  line-height: 60px;
  text-align: right;
}
.firstspan {
  color: #ffbb00;
  font-weight: 950px;
  font-size: 30px;
  line-height: 60px;
  text-align: right;
}
.text {
  width: 536px;
  height: 90px;
  font-weight: 400;
  font-size: 15px;
  line-height: 45px;
  text-align: right;
  color: #949494;
  text-wrap: wrap;
}
.start {
  width: 139px;
  height: 54px;
  border-radius: 10px;
  background-color: #151000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start button {
  outline: none;
  border: none;
  color: #fff;
  width: 87px;
  height: 24px;
  font-weight: 700;
  size: 15px;
  line-height: 24px;
  background-color: #151000;
}
.footer {
  width: 100%;
  height: 642px;
  background-color: #0c0d0f;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upfoot {
  width: 100%;
  height: 522px;
  background-color: #0c0d0f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.leftitem {
  height: 262px;
  width: 468px;
  color: #ffffff;
  text-align: end;
  justify-content: end;
}
.leftitem h2 {
  /* width: 162px; */
  height: 50px;
  font-weight: 950px;
  font-size: 30px;
  line-height: 50px;
  text-align: end;
}
.leftitem p {
  height: 200px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  margin-top: 15px;
}
.rightul {
  height: 200px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: end;
}
.rightitem {
  display: flex;
  width: 780px;
  height: 262px;
  justify-content: center;
  align-items: center;
}
.firsti {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.resalt {
  text-align: end;
  color: #ffffff;
  height: 50px;
  font-weight: 950;
  font-size: 20px;
  line-height: 50px;
}
.ulitem {
  display: flex;
  gap: 30px;
}
.downitem {
  width: 113px;
  height: 200px;
  font-weight: 400;
  size: 14px;
  line-height: 40px;
  color: #ffffff;
}
.upitem h2 {
  width: 138px;
  height: 50px;
  font-weight: 950;
  size: 20px;
  line-height: 50px;
}
.leftul {
  width: 207px;
  height: 200px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 40px;
  text-align: end;
  color: #ffffff;
}
.secondi {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.ertbat {
  width: 90%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  margin-top: 60px;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ertbatsvg {
  width: 52px;
  height: 52px;
  border-radius: 11px;
  border: 1px solid #0c0d0f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time p {
  width: 79px;
  height: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21.7px;
  color: #949494;
  text-align: right;
}
.time h6 {
  width: 90px;
  height: 23px;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #0c0d0f;
}
.second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.forth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: end;
}
.lok p {
  color: #949494;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: end;
}
.lok h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #0c0d0f;
}
.downfoot {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  background-color: #0c0d0f;
}
.program {
  display: flex;
  gap: 8px;
  width: 288px;
  height: 48px;
}
.programsvg {
  background-color: #fff;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondtext {
  height: 36px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  display: flex;
  gap: 8px;
}
.appsvg {
  width: 50px;
  height: 50px;
}
.hedblog {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.blog {
  width: 85%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 482px;
}
.titr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blogbut {
  width: 142px;
  height: 54px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titrbut {
  border: none;
  outline: none;
  background-color: black;
  color: #ffffff;
  width: 86px;
  height: 24px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  border-radius: 10px;
}
.titrtext {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
.amozsh h1 {
  color: #0c0d0f;
  font-weight: 950;
  font-size: 24px;
  line-height: 55px;
}
.blogitem {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.itemblog {
  width: 312px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  border: rgb(233, 231, 231) solid 1px;
  margin-top: 20px;
  gap: 15px;
  border-radius: 10px;
}
.blogphoto {
  position: absolute;
  top: 3px;
}
.daste {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: end;
  margin-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

.tarikh {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  gap: 10px;
}
.dastebandi {
  display: flex;
}
.mehr {
  display: flex;
}
.tarikh p {
  color: #949494;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.onvan {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
  text-align: end;
}
.onvan h1 {
  color: #0c0d0f;
  font-weight: 950;
  font-size: 16px;
  line-height: 24px;
  height: 25px;
}
.onvan p {
  color: #949494;
  height: 72px;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
}
.motale {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.zaman {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  width: 48px;
  height: 48px;
  border: solid 1px #0c0d0f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.ideas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: 80px;
}
.ideas h1 {
  color: #0c0d0f;
  height: 55px;
  font-weight: 950px;
  font-size: 24px;
  line-height: 55px;
}
.ideas p {
  height: 90px;
  font-weight: 400;
  font-size: 15px;
  line-height: 45px;
  color: #949494;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.upsection {
  display: flex;
  gap: 15px;
  width: 85px;
  justify-content: center;
  align-items: center;
}

.leftsection {
  display: flex;
  gap: 15px;
}
.rightsection {
  display: flex;
  gap: 15px;
}
.firstsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 253px;

  border-radius: 20px;
  width: 312px;
}
.firstsection h2 {
  color: #0c0d0f;
  /* height: 45px; */
  font-weight: 950px;
  font-size: 20px;
}
.firstsection p {
  color: #949494;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  height: 20px;
}
.leftarrow {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #efefef solid 1px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px #efefef;
}
.secondsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 253px;

  border-radius: 20px;
  width: 312px;
}
.secondsection h2 {
  color: #0c0d0f;
  /* height: 45px; */
  font-weight: 950px;
  font-size: 20px;
}
.secondsection p {
  color: #949494;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  height: 20px;
}
.downsction {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.maghale {
  width: 85%;
}
.dore {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  margin-top: 50px;
  gap: 15px;
  margin-bottom: 50px;
}
.firstdoree {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 312px;
  height: 351px;
  border: rgb(233, 231, 231) solid 1px;
  border-radius: 15px;
  text-align: center;
}
.seconddore {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 312px;
  height: 351px;
  border: rgb(233, 231, 231) solid 1px;
  border-radius: 15px;
  text-align: center;
}
.thirddore {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 312px;
  height: 351px;
  border: rgb(233, 231, 231) solid 1px;
  border-radius: 15px;
  text-align: center;
}

.doreitems h6 {
  padding-right: 9px;
}
.oclockdore {
  padding-right: 9px;
}
.dorepic {
  margin: 13px;
}
.forthdore {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 312px;
  height: 351px;
  border: rgb(233, 231, 231) solid 1px;
  border-radius: 15px;
  text-align: center;
}
.doreitems {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 12px;
}
.doreitems h6 {
  font-weight: 950px;
  font-size: 16px;
  line-height: 24px;
  color: #0c0d0f;
}
.maindore {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.maindore p {
  color: #949494;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.leftmain {
  display: flex;
}
.costdore {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  gap: 42px;
}
.leftcost {
  display: flex;
  gap: 2px;
}
.rightmain {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-direction: row-reverse;
}
.tomann {
  color: #949494;
}
.rightcost {
  color: #949494;
  text-decoration: line-through;
}
.books {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.textbook {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.textbook h1 {
  height: 55px;
  font-weight: 950px;
  font-size: 24px;
  line-height: 55px;
  color: #0c0d0f;
}
.textbook p {
  color: #949494;
  text-align: center;
  line-height: 45px;
  font-size: 15px;
  font-weight: 400;
}
.firstbook {
  display: flex;
  gap: 20px;
  width: 420px;
  height: 180px;
  justify-content: end;
  align-items: center;
}
.leftbook {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.upbook {
  text-align: center;
}
.upbook h2 {
  font-weight: 950px;
  font-size: 16px;
  line-height: 40px;
  color: #0c0d0f;
  border-bottom: dashed 1px #949494;
}
.downbook {
  display: flex;

  justify-content: space-between;
}
.costbook p {
  color: #949494;
  text-decoration: line-through;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.costbook {
  text-align: end;
}
.timebook {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.timebook h5 {
  width: 58px;
  height: 28px;
  background-color: #ff3431;
  color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 0;
}
.timebook h6 {
  width: 95px;
  height: 28px;
  background-color: #ffefef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 16px 16px 16px;
}
.itemsbook {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.secondbook {
  display: flex;
  gap: 20px;
  width: 420px;
  height: 180px;
  justify-content: end;
  align-items: center;
}
.thirdbook {
  display: flex;
  gap: 20px;
  width: 420px;
  height: 180px;
  justify-content: end;
  align-items: center;
}
.smallsection {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.upsmallsection {
  display: flex;
  gap: 30px;
}
.downsmallsection {
  display: flex;
  gap: 30px;
}
.one {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: end;
  gap: 16px;
}
.two {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: end;
  gap: 16px;
}
.tree {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: end;
  gap: 16px;
}
.four {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: end;
  gap: 16px;
}
.smallsection h2 {
  font-weight: 950;
  font-size: 20px;
  line-height: 31px;
  color: #0c0d0f;
}
.smallsection p {
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #949494;
}
.black {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.upblack {
  background-color: #0c0d0f;
  height: 760px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.textblack {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.textblack h1 {
  color: #ffffff;
  font-weight: 950;
  font-size: 24px;
  line-height: 55px;
}
.textblack p {
  color: #949494;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.blackitem {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 150px;
}
.firstrow {
  display: flex;
  gap: 15px;
}
.secondrow {
  display: flex;
  gap: 15px;
}
.thirdrow {
  display: flex;
  gap: 15px;
}
.leftrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 200px;
  height: 183px;
  background-color: rgba(255, 255, 255, 0.08);
}
.rightrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 200px;
  height: 183px;
  background-color: rgba(255, 255, 255, 0.08);
}
.blackitem h5 {
  color: #ffffff;
  line-height: 40px;
  font-size: 15px;
  font-weight: 400;
}
.blackitem p {
  color: #949494;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
}
.whaitarrow {
  background-color: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  position: absolute;
  left: 1px;
}
.blackarrow {
  background-color: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  position: absolute;
  right: 3px;
}

/* .blacksvg{position: relative;
align-items: start;
justify-content: start;}
.firstcoin{right: 600px;
position: absolute;
bottom: 10px;} */
.eshtraktext {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.texteshtrak {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.texteshtrak h1 {
  color: #0c0d0f;
  font-size: 24px;
  line-height: 55px;
  font-weight: 950;
}
.texteshtrak p {
  font-weight: 400;
  color: #949494;
  line-height: 40px;
  font-size: 14px;
}
.carteshtrak {
  display: flex;
  gap: 10px;
}
.firsteshtrak {
  width: 161px;
  height: 54px;
  background-color: #949494;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.secondeshtrak {
  width: 161px;
  height: 54px;
  background-color: #949494;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.thirdeshtrak {
  width: 132px;
  height: 54px;
  color: #fff;
  background-color: #0c0d0f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.tozihat {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  margin-top: 70px;
}
.firstmonth {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: end;
  justify-content: end;
  align-items: end;
  width: 390px;
  height: 496px;
  border: rgb(233, 231, 231) solid 1px;
  border-radius: 16px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.semah {
  display: flex;
  gap: 10px;
}
.cadr {
  background-color: #ffbb00;
  width: 56px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 0 16px;
}
.bigmatn {
  color: #0c0d0f;
  font-weight: 950;
  font-size: 20px;
  line-height: 50px;
}
.yek {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.gheymat {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  align-items: center;
}

.lastpart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 8px;
}
.yek p {
  color: #0c0d0f;
  line-height: 40px;
  font-size: 14px;
}
.hazine {
  color: #ffbb00;
  font-weight: 800;
  font-size: 24px;
}
.toman p {
  color: #ffbb00;
  font-size: 12px;
  font-weight: 400;
}
.buy {
  border: #0c0d0f solid 1px;
  border-radius: 15px;
  width: 138px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondmonth {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: end;
  justify-content: end;
  align-items: end;
  width: 390px;
  height: 496px;
  border: rgb(233, 231, 231) solid 1px;
  border-radius: 16px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.pish {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 8px;
  padding-top: 10px;
}
.cadrmah {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
}
#but {
  outline: none;
  border: 0;
  background-color: white;
}
#but h4 {
  color: #0c0d0f;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.yekmah {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  position: absolute;
  top: 20px;
}
.thirdmonth {
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-align: end;
  justify-content: end;
  align-items: end;
  width: 390px;
  height: 496px;
  border: rgb(233, 231, 231) solid 1px;
  border-radius: 16px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
}
.sad p {
  color: #949494;
  text-decoration: line-through;
}
.moshavre {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 515px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
  background-color: #ff3431;
}
.moshaveretext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.moshavereinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.moshavrebut {
  width: 280px;
  height: 54px;
  background-color: #ffbb00;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
.moshaverphone {
  width: 70px;
  height: 70px;
  background-color: #ffbb00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 140px;
}
.insv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 325px;
  background-color: red;
}
.moshavereinput h1 {
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
}
.put {
  width: 280px;
  height: 54px;
  border-radius: 10px;
  padding-right: 8px;
}
.firstinput {
  display: flex;
  gap: 20px;
}
.secondinput {
  display: flex;
  gap: 20px;
}
.coinone{position: absolute;
  left: 190px;
  bottom: 200px;
}
.cointwo{left: 160px;
bottom: 50px;
position: absolute;}
.money{position: absolute;
  left: 370px;
  bottom: 70px;
}
.moneytwo{
  position: absolute;
  right: 190px;
  bottom: 180px;
}
.cointree{bottom: 30px;
right: 330px;
position: absolute;}

@media (max-width: 680px) {
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #efefef;
    border-radius: 10px;
  }
  .but {
    display: none;
  }
  .number {
    display: none;
  }
  .hedphone {
    width: 48px;
    height: 48px;
    background-color: #efefef;
  }
  .photo {
    width: 116px;
    height: 29px;
  }
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hesab {
    text-align: center;
    align-items: center;
    height: 233px;
    margin-top: 0px;
  }
  .machinphoto {
    margin-top: 30px;
    width: 100%;
  }
  .start button {
    width: 139px;
    height: 54px;
    border-radius: 10px;
  }
  .start {
    width: 139px;
    height: 54px;
    border-radius: 10px;
    margin-top: 24px;
  }
  .text {
    height: 72px;
    width: 336px;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
  }
  .hesab h3 {
    width: 334px;
    height: 55px;
    font-weight: 950px;
    font-size: 22px;
    line-height: 55px;
  }
  .firstspan {
    line-height: 55px;
    font-size: 22px;
    font-weight: 950px;
  }
  .frst {
    width: 86px;
    height: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27.9px;
  }

  .links {
    display: none;
  }
  .upsection {
    flex-direction: column-reverse;
  }
  .leftarrow {
    display: none;
  }
  .firstsection {
    width: 160px;
    height: 181px;
    text-align: center;
    padding-bottom: 8px;
  }
  .secondsection {
    width: 160px;
    height: 181px;
    text-align: center;
    padding-bottom: 8px;
  }
  .firstsection h2 {
    font-size: 14px;
  }
  .firstsection p {
    font-size: 13px;
  }
  .secondsection h2 {
    font-size: 14px;
  }
  .secondsection p {
    font-size: 13px;
  }
  .downsction {
    flex-direction: column-reverse;
  }
  .ideas {
    margin-top: 5px;
  }
  .smallsection {
    flex-direction: column-reverse;
  }
  .smallsection p {
    display: none;
  }
  .one {
    justify-content: center;
    align-items: center;
  }
  .two {
    justify-content: center;
    align-items: center;
  }
  .tree {
    justify-content: center;
    align-items: center;
  }
  .four {
    justify-content: center;
    align-items: center;
  }
  .upblack {
    height: 678px;
  }
  .blackitem {
    flex-direction: column;
    gap: 15px;
  }
  .textblack {
    margin-bottom: 80px;
    flex-wrap: wrap;
  }
  .textblack p {
    font-size: 14px;
  }
  .blackitem {
    margin-bottom: 0;
  }
  .textblack h1 {
    line-height: 50px;
    font-size: 20px;
  }
  .leftarrow {
    background-color: #fff;
    width: 160px;
    height: 136px;
  }
  .rightrow {
    background-color: #ffff;
    width: 160px;
    height: 136px;
  }
  .leftrow {
    background-color: #ffff;
    width: 160px;
    height: 136px;
  }
  .blackitem p {
    line-height: 18px;
    font-size: 12px;
  }
  .blackitem h5 {
    font-size: 14px;
    line-height: 21px;
    color: #0c0d0f;
  }
  .blackarrow {
    display: none;
  }
  .whaitarrow {
    display: none;
  }
  .firsteshtrak {
    width: 119px;
    height: 46px;
  }
  .secondeshtrak {
    width: 119px;
    height: 46px;
  }
  .thirdeshtrak {
    width: 91px;
    height: 46px;
  }
  .texteshtrak p {
    line-height: 36px;
  }
  .texteshtrak h1 {
    line-height: 50px;
    font-size: 20px;
  }
  .firstinput {
    flex-direction: column;
    gap: 12px;
  }
  .secondinput {
    flex-direction: column-reverse;
    gap: 12px;
    margin-top: 12px;
  }
  .put {
    width: 290px;
  }
  .moshavrebut {
    width: 290px;
   
  }
  .moshavereinput {
    gap: 2px;
  }
  .moshaverphone {
    width: 60px;
    height: 60px;
  }
  .coinone{display: none;}
  .cointwo{display: none;}
  .cointree{display: none;}
  .money{display: none;}
  .moneytwo{display: none;}
}
