* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.upsection {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.up {
  display: flex;
  gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: #d6d4d4 1px solid;
  border-radius: 12px;
  width: 312px;
  height: 351px;
  padding: 35px 15px;
}
.photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titr {
  text-align: end;
  font-weight: 950;
  font-size: 16px;
  color: red;
  line-height: 24px;
}
.seconditem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 12px;
}
.leftitem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.leftitem p {
  color: #949494;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
}
.rightitem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.rightitem p {
  color: #949494;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
}
.cost {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: dashed 1px #d6d4d4;
  padding-top: 10px;
}
.price {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.cost h5 {
  color: #949494;
  text-decoration: line-through;
}
.toman {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: red;
}
.num {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}
.down {
  display: flex;
  gap: 20px;
}
.squareitem {
  display: flex;
  gap: 5px;
}
.square {
  width: 48px;
  height: 48px;
  border: 1px solid #949494;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  width: 48px;
  height: 48px;
  color: #fff;
  background-color: green;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noghte {
  color: red;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.secondsection{width: 90%;
display: flex;
flex-direction: column;
justify-content: end;
align-items: end;
text-align: end;
margin-top: 100px;
border-top:  1px solid #949494;
padding-top: 20px;
gap: 20px;}
.first h1{
  color: red;
  font-weight: 950;
  font-size: 20px;
  line-height: 50px;
}
.first p{
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  color: red;
}
.matn{
  color: #949494;
}
.second{display: flex;
gap: 3px;}
.second p{
  color: green;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
}

@media (max-width: 768px) {
  .up {
    flex-direction: column-reverse;
  }
  .down {
    flex-direction: column-reverse;
  }
}
