@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

@font-face {
  font-family: "danstevis";
  src: url("../public/fonts/danstevis.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fanoos";
  src: url("../public/fonts/fanoos.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakhFaNum-Light.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakhFaNum-Thin.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakhFaNum-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakhFaNum-SemiBold.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakhFaNum-Bold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakhFaNum-ExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakhFaNum-Black.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakhFaNum-ExtraBlack.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.active {
  background-color: #0c0d0f; /* Example active background color */
  color: white; /* Text color when active */
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffbb00;
  border-radius: 10px;
  height: 10px !important;
  width: 2px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffbb00;
}

.btn {
  width: 135px;
  height: 54px;
  background-color: #0c0d0f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0px 4px 16px 0px #15100033;
  text-wrap: nowrap;
}

.btn-outlined {
  width: 135px;
  height: 54px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid black;
}

.swiper-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-courses-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-circular-cards-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-salary-btn-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-course-service-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-btn-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-images-container {
  overflow: hidden;
  position: relative;
  min-height: 240px;

  align-content: start;
}

.swiper-images-container .swiper-pagination {
  display: flex;
  position: absolute !important;
  bottom: -20px !important;
  left: 20px !important;
  justify-content: end !important;
  align-items: flex-end !important;
  line-height: 20px;
  font-size: 12px;
  color: #fff !important;
}

.swiper-images-container .swiper-pagination-bullet {
  width: 48px !important;
  height: 40px !important;
  text-align: center;
  z-index: 1;
  justify-content: center;
  align-content: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff !important;
  opacity: 1;
  background: rgb(0, 0, 0, 0.01);
  border-radius: 10px 10px 0px 0px !important;
}

.swiper-images-container .swiper-pagination-bullet-active {
  color: #fff !important;
  background: #ffbb00 !important;
}

.swiper-most-viewed-blogs-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-most-viewed-btn-container {
  overflow: hidden;
  position: relative;
  z-index: 30;
}

.swiper-dashboard-orders-container {
  overflow: hidden;
  position: relative;
  z-index: 30;
}

.swiper-dashboard-card-container {
  overflow: hidden;
  position: relative;
  z-index: 30;
}

.swiper-most-viewed-btn-container {
  overflow: hidden;
  position: relative;
  z-index: 30;
}

.swiper-score-cards-conteiner {
  overflow: hidden;
  position: relative;
  z-index: 30;
}

.swiper-blogs-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-related-blogs-container {
  overflow: hidden;
  padding-top: 20px;
  align-content: start;
  height: auto;
  max-height: 400px;
  position: relative;
}

.swiper-books-container {
  overflow: hidden;
  position: relative;
  height: 250px;
  align-content: start;
}

.swiper-subscription-container {
  padding: 20px 20px 0px 20px;
  overflow: hidden;
  min-height: 600px !important;
  width: 100%;
  display: flex;
  align-items: start;
}

.swiper-slide {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Customize the navigation buttons */
}

.swiper-pagination {
  /* Other styles for the pagination */
  text-align: center;
  margin-bottom: 20px;
  top: 0px;
}

/* Default pagination bullets */
.swiper-pagination-bullet {
  background: #efefef;
}
.swiper-pagination-bullet-active {
  background: #0c0d0f !important;
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px !important;
}

/* .swiper-blogs-pagination {
  background: white !important;
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px !important;
} */

.idea-card:hover {
  background-image: url("./assets/hover-image.png");
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.1em;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

#dropdownMenu {
  z-index: 1000;
}

.accordion-content {
  transition: max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.slider {
  height: 3px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #ffbb00;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  cursor: pointer;
  border: 4px solid white;
  outline: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  background: #ffbb00;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #ffbb00;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .swiper-images-container .swiper-pagination {
    /* Other styles for the pagination */
    text-align: center;
    position: static;
    justify-content: center !important;
    left: 0px !important;
  }

  .swiper-images-container .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background: #efefef;
    font-size: 0 !important; /* Hide numbers */
  }

  .swiper-images-container
    .swiper-pagination-bullet-active {
    background: #0c0d0f !important;
    width: 24px !important;
    height: 8px !important;
    border-radius: 12px !important;
  }

  .btn {
    background-color: transparent;
    color: black;
    box-shadow: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0%;
    height: 50px;
    width: fit-content;
    text-wrap: nowrap;
  }

  .swiper-container {
    height: 370px;
  }

  .swiper-courses-container {
    height: 370px;
  }

  .swiper-related-blogs-container {
    height: 380px;
  }

  .swiper-subscription-container {
    min-height: 560px !important;
  }

  .btn-outlined {
    width: 113px;
    height: 48px;
  }

  .swiper-books-container {
    height: 190px;
    padding: 0px 20px;
  }

  .swiper-blogs-container {
    height: 400px;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}
@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.toast-progress {
  animation: progress 3s linear forwards;
}

.active-sidebar-item {
  background-color: #fff8e026; /* Same background as hover */
  color: #ffbb00; /* Same text color as hover */
  font-weight: bold;
}
