@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

@font-face {
  font-family: "danstevis";
  src: url("../public/fonts/danstevis.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fanoos";
  src: url("../public/fonts/fanoos.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-Light.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-Thin.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-SemiBold.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-Bold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-ExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-Black.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-ExtraBlack.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.active {
  background-color: #0c0d0f; /* Example active background color */
  color: white; /* Text color when active */
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffbb00;
  border-radius: 10px;
  height: 10px !important;
  width: 2px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffbb00;
}

.btn {
  width: 135px;
  height: 54px;
  background-color: #0c0d0f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0px 4px 16px 0px #15100033;
}

.btn-outlined {
  width: 135px;
  height: 54px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid black;
}

.swiper-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-courses-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-course-service-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-btn-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-blogs-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-books-container {
  overflow: hidden;
  position: relative;
  height: 250px;
  align-content: start;
}

.swiper-subscription-container {
  padding: 20px;
  overflow: hidden;
  position: relative;
  height: 565px;
  width: 100%;
  display: flex;
  align-items: center;
}

.swiper-slide {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Customize the navigation buttons */
}

.swiper-pagination {
  /* Other styles for the pagination */
  text-align: center;
  margin-bottom: 20px;
}

/* Default pagination bullets */
.swiper-pagination-bullet {
  background: #efefef;
}
.swiper-pagination-bullet-active {
  background: #0c0d0f !important;
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px !important;
}

.idea-card:hover {
  background-image: url("./assets/hover-image.png");
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.1em;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

#dropdownMenu {
  z-index: 1000;
}

.accordion-content {
  transition: max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .btn {
    background-color: transparent;
    color: black;
    box-shadow: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0%;
    height: 50px;
    width: fit-content;
  }

  .swiper-container {
    height: 370px;
  }

  .swiper-courses-container {
    height: 370px;
  }

  .swiper-subscription-container {
    height: 510px;
  }

  .btn-outlined {
    width: 113px;
    height: 48px;
  }

  .swiper-books-container {
    height: 190px;
    padding: 0px 20px;
  }

  .swiper-blogs-container {
    height: 400px;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
