*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.collapse {
  visibility: collapse;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.-bottom-\[185px\] {
  bottom: -185px;
}

.-left-20 {
  left: -5rem;
}

.-left-3 {
  left: -0.75rem;
}

.-left-48 {
  left: -12rem;
}

.-left-8 {
  left: -2rem;
}

.-left-\[10\%\] {
  left: -10%;
}

.-left-\[100px\] {
  left: -100px;
}

.-left-\[7\%\] {
  left: -7%;
}

.-right-10 {
  right: -2.5rem;
}

.-right-20 {
  right: -5rem;
}

.-right-36 {
  right: -9rem;
}

.-right-48 {
  right: -12rem;
}

.-right-\[100px\] {
  right: -100px;
}

.-right-\[14\%\] {
  right: -14%;
}

.-top-2 {
  top: -0.5rem;
}

.-top-2\.5 {
  top: -0.625rem;
}

.-top-5 {
  top: -1.25rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-2 {
  bottom: 0.5rem;
}

.bottom-28 {
  bottom: 7rem;
}

.bottom-4 {
  bottom: 1rem;
}

.bottom-\[100\%\] {
  bottom: 100%;
}

.left-0 {
  left: 0px;
}

.left-1 {
  left: 0.25rem;
}

.left-1\/2 {
  left: 50%;
}

.left-2 {
  left: 0.5rem;
}

.left-6 {
  left: 1.5rem;
}

.right-0 {
  right: 0px;
}

.right-1 {
  right: 0.25rem;
}

.right-2\.5 {
  right: 0.625rem;
}

.right-3 {
  right: 0.75rem;
}

.right-6 {
  right: 1.5rem;
}

.top-0 {
  top: 0px;
}

.top-1 {
  top: 0.25rem;
}

.top-1\/2 {
  top: 50%;
}

.top-14 {
  top: 3.5rem;
}

.top-2\.5 {
  top: 0.625rem;
}

.top-3 {
  top: 0.75rem;
}

.top-4 {
  top: 1rem;
}

.top-6 {
  top: 1.5rem;
}

.top-\[158px\] {
  top: 158px;
}

.top-\[20\%\] {
  top: 20%;
}

.top-\[52px\] {
  top: 52px;
}

.-z-30 {
  z-index: -30;
}

.-z-50 {
  z-index: -50;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-50 {
  z-index: 50;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-2\.5 {
  margin-top: 0.625rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-3\.5 {
  margin-top: 0.875rem;
}

.mt-36 {
  margin-top: 9rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-2 {
  height: 0.5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[132px\] {
  height: 132px;
}

.h-\[134px\] {
  height: 134px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[171px\] {
  height: 171px;
}

.h-\[182px\] {
  height: 182px;
}

.h-\[194px\] {
  height: 194px;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[278px\] {
  height: 278px;
}

.h-\[286px\] {
  height: 286px;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[294px\] {
  height: 294px;
}

.h-\[31px\] {
  height: 31px;
}

.h-\[322px\] {
  height: 322px;
}

.h-\[350px\] {
  height: 350px;
}

.h-\[385px\] {
  height: 385px;
}

.h-\[38px\] {
  height: 38px;
}

.h-\[393px\] {
  height: 393px;
}

.h-\[397px\] {
  height: 397px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[425px\] {
  height: 425px;
}

.h-\[43px\] {
  height: 43px;
}

.h-\[46px\] {
  height: 46px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[55px\] {
  height: 55px;
}

.h-\[56px\] {
  height: 56px;
}

.h-\[58px\] {
  height: 58px;
}

.h-\[59px\] {
  height: 59px;
}

.h-\[5px\] {
  height: 5px;
}

.h-\[60\%\] {
  height: 60%;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[64px\] {
  height: 64px;
}

.h-\[705\] {
  height: 705;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[72px\] {
  height: 72px;
}

.h-\[87\%\] {
  height: 87%;
}

.h-\[94px\] {
  height: 94px;
}

.h-\[98px\] {
  height: 98px;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-40 {
  max-height: 10rem;
}

.max-h-72 {
  max-height: 18rem;
}

.max-h-96 {
  max-height: 24rem;
}

.max-h-\[60\%\] {
  max-height: 60%;
}

.min-h-32 {
  min-height: 8rem;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-2 {
  width: 0.5rem;
}

.w-20 {
  width: 5rem;
}

.w-24 {
  width: 6rem;
}

.w-28 {
  width: 7rem;
}

.w-3 {
  width: 0.75rem;
}

.w-3\/4 {
  width: 75%;
}

.w-4 {
  width: 1rem;
}

.w-48 {
  width: 12rem;
}

.w-60 {
  width: 15rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[121px\] {
  width: 121px;
}

.w-\[132px\] {
  width: 132px;
}

.w-\[135px\] {
  width: 135px;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[146px\] {
  width: 146px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[152px\] {
  width: 152px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[175px\] {
  width: 175px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[25\%\] {
  width: 25%;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[290px\] {
  width: 290px;
}

.w-\[291px\] {
  width: 291px;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[322px\] {
  width: 322px;
}

.w-\[338px\] {
  width: 338px;
}

.w-\[424px\] {
  width: 424px;
}

.w-\[42px\] {
  width: 42px;
}

.w-\[448px\] {
  width: 448px;
}

.w-\[45px\] {
  width: 45px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[52px\] {
  width: 52px;
}

.w-\[54px\] {
  width: 54px;
}

.w-\[584px\] {
  width: 584px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[64px\] {
  width: 64px;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[75\%\] {
  width: 75%;
}

.w-\[75px\] {
  width: 75px;
}

.w-\[77px\] {
  width: 77px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[89px\] {
  width: 89px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[91px\] {
  width: 91px;
}

.w-\[920px\] {
  width: 920px;
}

.w-\[98px\] {
  width: 98px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-\[\] {
  width: ;
}

.w-\[80\] {
  width: 80;
}

.max-w-\[137px\] {
  max-width: 137px;
}

.max-w-\[460px\] {
  max-width: 460px;
}

.max-w-\[536px\] {
  max-width: 536px;
}

.max-w-\[720px\] {
  max-width: 720px;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.origin-top {
  transform-origin: top;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-y-0 {
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-y-100 {
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.list-none {
  list-style-type: none;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0\.5 {
  gap: 0.125rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.25rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-wrap {
  text-wrap: wrap;
}

.text-nowrap {
  text-wrap: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[14px\] {
  border-radius: 14px;
}

.rounded-\[6px\] {
  border-radius: 6px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 10px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-b-2xl {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-b-md {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-l-2xl {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.rounded-t-md {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rounded-br-2xl {
  border-bottom-right-radius: 1rem;
}

.rounded-tr-2xl {
  border-top-right-radius: 1rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-dashed {
  border-style: dashed;
}

.border-borderColor {
  --tw-border-opacity: 1;
  border-color: rgb(239 239 239 / var(--tw-border-opacity, 1));
}

.border-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(12 13 15 / var(--tw-border-opacity, 1));
}

.border-slate-300 {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.border-l-borderColor {
  --tw-border-opacity: 1;
  border-left-color: rgb(239 239 239 / var(--tw-border-opacity, 1));
}

.bg-\[\#02f0fe\] {
  --tw-bg-opacity: 1;
  background-color: rgb(2 240 254 / var(--tw-bg-opacity, 1));
}

.bg-\[\#14ae5c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(20 174 92 / var(--tw-bg-opacity, 1));
}

.bg-\[\#2088f7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(32 136 247 / var(--tw-bg-opacity, 1));
}

.bg-\[\#2a2e34\] {
  --tw-bg-opacity: 1;
  background-color: rgb(42 46 52 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E2F5EB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(226 245 235 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFEFEF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 239 239 / var(--tw-bg-opacity, 1));
}

.bg-\[\#e2f5eb\] {
  --tw-bg-opacity: 1;
  background-color: rgb(226 245 235 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f8f8f8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ffc831\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 200 49 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ffefef\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 239 239 / var(--tw-bg-opacity, 1));
}

.bg-\[\#fff8e0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 248 224 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-borderColor {
  --tw-bg-opacity: 1;
  background-color: rgb(239 239 239 / var(--tw-bg-opacity, 1));
}

.bg-box {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity, 1));
}

.bg-danger {
  --tw-bg-opacity: 1;
  background-color: rgb(255 52 49 / var(--tw-bg-opacity, 1));
}

.bg-muted {
  --tw-bg-opacity: 1;
  background-color: rgb(148 148 148 / var(--tw-bg-opacity, 1));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 187 0 / var(--tw-bg-opacity, 1));
}

.bg-primary_lighten {
  --tw-bg-opacity: 1;
  background-color: rgb(255 248 224 / var(--tw-bg-opacity, 1));
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(12 13 15 / var(--tw-bg-opacity, 1));
}

.bg-secondary_lighten {
  --tw-bg-opacity: 1;
  background-color: rgb(232 232 230 / var(--tw-bg-opacity, 1));
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
}

.bg-success {
  --tw-bg-opacity: 1;
  background-color: rgb(20 174 92 / var(--tw-bg-opacity, 1));
}

.bg-success_lighten {
  --tw-bg-opacity: 1;
  background-color: rgb(226 245 235 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-red-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
}

.bg-opacity-0 {
  --tw-bg-opacity: 0;
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}

.bg-opacity-20 {
  --tw-bg-opacity: 0.2;
}

.bg-opacity-30 {
  --tw-bg-opacity: 0.3;
}

.bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-white {
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-12 {
  padding: 3rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-8 {
  padding: 2rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-extralg {
  padding-left: 120px;
  padding-right: 120px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-24 {
  padding-left: 6rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-0\.5 {
  padding-right: 0.125rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.font-yekan {
  font-family: YekanBakh, sans-serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[36px\] {
  font-size: 36px;
}

.text-\[42px\] {
  font-size: 42px;
}

.text-\[53px\] {
  font-size: 53px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[27px\] {
  line-height: 27px;
}

.leading-\[31px\] {
  line-height: 31px;
}

.leading-\[36px\] {
  line-height: 36px;
}

.leading-\[40px\] {
  line-height: 40px;
}

.leading-\[45px\] {
  line-height: 45px;
}

.leading-\[50px\] {
  line-height: 50px;
}

.leading-\[55px\] {
  line-height: 55px;
}

.leading-\[60px\] {
  line-height: 60px;
}

.text-\[\#14ae5c\] {
  --tw-text-opacity: 1;
  color: rgb(20 174 92 / var(--tw-text-opacity, 1));
}

.text-\[\#2088f7\] {
  --tw-text-opacity: 1;
  color: rgb(32 136 247 / var(--tw-text-opacity, 1));
}

.text-\[\#949494\] {
  --tw-text-opacity: 1;
  color: rgb(148 148 148 / var(--tw-text-opacity, 1));
}

.text-\[\#ff3431\] {
  --tw-text-opacity: 1;
  color: rgb(255 52 49 / var(--tw-text-opacity, 1));
}

.text-danger {
  --tw-text-opacity: 1;
  color: rgb(255 52 49 / var(--tw-text-opacity, 1));
}

.text-muted {
  --tw-text-opacity: 1;
  color: rgb(148 148 148 / var(--tw-text-opacity, 1));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(255 187 0 / var(--tw-text-opacity, 1));
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(12 13 15 / var(--tw-text-opacity, 1));
}

.text-success {
  --tw-text-opacity: 1;
  color: rgb(20 174 92 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.line-through {
  text-decoration-line: line-through;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-40 {
  opacity: 0.4;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-custom {
  --tw-shadow: 0px 4px 16px 0px rgba(21, 16, 0, 0.2);
  --tw-shadow-colored: 0px 4px 16px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* * {
  border: 1px solid red;
} */

@font-face {
  font-family: "danstevis";

  src: url("../public/fonts/danstevis.otf")
    format("opentype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "fanoos";

  src: url("../public/fonts/fanoos.ttf") format("opentype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";

  src: url("../public/fonts/YekanBakh-Light.woff")
    format("woff");

  font-weight: 200;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";

  src: url("../public/fonts/YekanBakh-Thin.woff")
    format("woff");

  font-weight: 300;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";

  src: url("../public/fonts/YekanBakh-Regular.woff")
    format("woff");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";

  src: url("../public/fonts/YekanBakh-SemiBold.woff")
    format("woff");

  font-weight: 500;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";

  src: url("../public/fonts/YekanBakh-Bold.woff")
    format("woff");

  font-weight: 600;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";

  src: url("../public/fonts/YekanBakh-ExtraBold.woff")
    format("woff");

  font-weight: 700;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";

  src: url("../public/fonts/YekanBakh-Black.woff")
    format("woff");

  font-weight: 800;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";

  src: url("../public/fonts/YekanBakh-ExtraBlack.woff")
    format("woff");

  font-weight: 900;

  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.active {
  background-color: #0c0d0f;
  /* Example active background color */
  color: white;
  /* Text color when active */
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #ffbb00;
  border-radius: 10px;
  height: 10px !important;
  width: 2px !important;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #ffbb00;
}

.btn {
  width: 135px;
  height: 54px;
  background-color: #0c0d0f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0px 4px 16px 0px #15100033;
}

.btn-outlined {
  width: 135px;
  height: 54px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid black;
}

.swiper-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-courses-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-course-service-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-btn-container {
  overflow: hidden;
  position: relative;
  align-content: start;
}

.swiper-blogs-container {
  overflow: hidden;
  position: relative;
  height: 430px;
  padding-top: 20px;
  align-content: start;
}

.swiper-books-container {
  overflow: hidden;
  position: relative;
  height: 250px;
  align-content: start;
}

.swiper-subscription-container {
  padding: 20px;
  overflow: hidden;
  position: relative;
  height: 565px;
  width: 100%;
  display: flex;
  align-items: center;
}

.swiper-slide {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  /* Customize the navigation buttons */
}

.swiper-pagination {
  /* Other styles for the pagination */
  text-align: center;
  margin-bottom: 20px;
}

/* Default pagination bullets */

.swiper-pagination-bullet {
  background: #efefef;
}

.swiper-pagination-bullet-active {
  background: #0c0d0f !important;
  width: 24px !important;
  height: 8px !important;
  border-radius: 12px !important;
}

.idea-card:hover {
  background-image: url("./assets/hover-image.png");
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.1em;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

#dropdownMenu {
  z-index: 1000;
}

.accordion-content {
  transition: max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .btn {
    background-color: transparent;
    color: black;
    box-shadow: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0%;
    height: 50px;
    width: -moz-fit-content;
    width: fit-content;
  }

  .swiper-container {
    height: 370px;
  }

  .swiper-courses-container {
    height: 370px;
  }

  .swiper-subscription-container {
    height: 510px;
  }

  .btn-outlined {
    width: 113px;
    height: 48px;
  }

  .swiper-books-container {
    height: 190px;
    padding: 0px 20px;
  }

  .swiper-blogs-container {
    height: 400px;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.placeholder\:text-sm::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.placeholder\:text-sm::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.placeholder\:text-xs::-moz-placeholder {
  font-size: 0.75rem;
  line-height: 1rem;
}

.placeholder\:text-xs::placeholder {
  font-size: 0.75rem;
  line-height: 1rem;
}

.checked\:border-primary:checked {
  --tw-border-opacity: 1;
  border-color: rgb(255 187 0 / var(--tw-border-opacity, 1));
}

.checked\:bg-primary:checked {
  --tw-bg-opacity: 1;
  background-color: rgb(255 187 0 / var(--tw-bg-opacity, 1));
}

.hover\:bg-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 187 0 / var(--tw-bg-opacity, 1));
}

.hover\:bg-secondary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(12 13 15 / var(--tw-bg-opacity, 1));
}

.hover\:bg-opacity-100:hover {
  --tw-bg-opacity: 1;
}

.hover\:bg-opacity-30:hover {
  --tw-bg-opacity: 0.3;
}

.hover\:text-current:hover {
  color: currentColor;
}

.hover\:text-secondary:hover {
  --tw-text-opacity: 1;
  color: rgb(12 13 15 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.active\:bg-secondary:active {
  --tw-bg-opacity: 1;
  background-color: rgb(12 13 15 / var(--tw-bg-opacity, 1));
}

.active\:text-white:active {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:bg-opacity-40 {
  --tw-bg-opacity: 0.4;
}

.group:hover .group-hover\:fill-secondary {
  fill: #0C0D0F;
}

.group:hover .group-hover\:fill-white {
  fill: #fff;
}

.group:hover .group-hover\:stroke-white {
  stroke: #fff;
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.peer:checked ~ .peer-checked\:translate-x-4 {
  --tw-translate-x: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:checked ~ .peer-checked\:border-slate-800 {
  --tw-border-opacity: 1;
  border-color: rgb(30 41 59 / var(--tw-border-opacity, 1));
}

.peer:checked ~ .peer-checked\:opacity-100 {
  opacity: 1;
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:-left-16 {
    left: -4rem;
  }

  .md\:-left-\[180px\] {
    left: -180px;
  }

  .md\:-right-20 {
    right: -5rem;
  }

  .md\:-right-\[180px\] {
    right: -180px;
  }

  .md\:bottom-3 {
    bottom: 0.75rem;
  }

  .md\:bottom-32 {
    bottom: 8rem;
  }

  .md\:bottom-\[55\%\] {
    bottom: 55%;
  }

  .md\:left-12 {
    left: 3rem;
  }

  .md\:left-\[100px\] {
    left: 100px;
  }

  .md\:right-12 {
    right: 3rem;
  }

  .md\:right-\[80px\] {
    right: 80px;
  }

  .md\:mx-\[70px\] {
    margin-left: 70px;
    margin-right: 70px;
  }

  .md\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-10 {
    margin-top: 2.5rem;
  }

  .md\:mt-16 {
    margin-top: 4rem;
  }

  .md\:mt-5 {
    margin-top: 1.25rem;
  }

  .md\:mt-7 {
    margin-top: 1.75rem;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-\[120px\] {
    height: 120px;
  }

  .md\:h-\[151px\] {
    height: 151px;
  }

  .md\:h-\[180px\] {
    height: 180px;
  }

  .md\:h-\[183px\] {
    height: 183px;
  }

  .md\:h-\[253px\] {
    height: 253px;
  }

  .md\:h-\[351px\] {
    height: 351px;
  }

  .md\:h-\[356px\] {
    height: 356px;
  }

  .md\:h-\[475px\] {
    height: 475px;
  }

  .md\:h-\[496px\] {
    height: 496px;
  }

  .md\:h-\[540px\] {
    height: 540px;
  }

  .md\:h-\[555px\] {
    height: 555px;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-1\/4 {
    width: 25%;
  }

  .md\:w-3\/4 {
    width: 75%;
  }

  .md\:w-32 {
    width: 8rem;
  }

  .md\:w-80 {
    width: 20rem;
  }

  .md\:w-\[100\%\] {
    width: 100%;
  }

  .md\:w-\[121px\] {
    width: 121px;
  }

  .md\:w-\[143px\] {
    width: 143px;
  }

  .md\:w-\[200px\] {
    width: 200px;
  }

  .md\:w-\[228px\] {
    width: 228px;
  }

  .md\:w-\[290px\] {
    width: 290px;
  }

  .md\:w-\[30\%\] {
    width: 30%;
  }

  .md\:w-\[312px\] {
    width: 312px;
  }

  .md\:w-\[378px\] {
    width: 378px;
  }

  .md\:w-\[40\%\] {
    width: 40%;
  }

  .md\:w-\[480px\] {
    width: 480px;
  }

  .md\:w-\[50\%\] {
    width: 50%;
  }

  .md\:w-\[570px\] {
    width: 570px;
  }

  .md\:w-\[58px\] {
    width: 58px;
  }

  .md\:w-\[60\%\] {
    width: 60%;
  }

  .md\:w-\[64px\] {
    width: 64px;
  }

  .md\:w-\[80\%\] {
    width: 80%;
  }

  .md\:w-\[832px\] {
    width: 832px;
  }

  .md\:w-\[95px\] {
    width: 95px;
  }

  .md\:w-\[980px\] {
    width: 980px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:w-max {
    width: -moz-max-content;
    width: max-content;
  }

  .md\:w-\[\] {
    width: ;
  }

  .md\:w-\[0\%\] {
    width: 0%;
  }

  .md\:max-w-\[252px\] {
    max-width: 252px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-3 {
    gap: 0.75rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:gap-6 {
    gap: 1.5rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:border {
    border-width: 1px;
  }

  @media (min-width: 768px) {
    .md\:md\:border {
      border-width: 1px;
    }
  }

  .md\:border-b {
    border-bottom-width: 1px;
  }

  .md\:border-b-0 {
    border-bottom-width: 0px;
  }

  .md\:border-l {
    border-left-width: 1px;
  }

  .md\:border-t {
    border-top-width: 1px;
  }

  .md\:border-t-0 {
    border-top-width: 0px;
  }

  .md\:border-none {
    border-style: none;
  }

  .md\:border-borderColor {
    --tw-border-opacity: 1;
    border-color: rgb(239 239 239 / var(--tw-border-opacity, 1));
  }

  .md\:border-secondary {
    --tw-border-opacity: 1;
    border-color: rgb(12 13 15 / var(--tw-border-opacity, 1));
  }

  @media (min-width: 768px) {
    .md\:md\:border-borderColor {
      --tw-border-opacity: 1;
      border-color: rgb(239 239 239 / var(--tw-border-opacity, 1));
    }
  }

  .md\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }

  .md\:p-3 {
    padding: 0.75rem;
  }

  .md\:p-4 {
    padding: 1rem;
  }

  .md\:p-5 {
    padding: 1.25rem;
  }

  .md\:p-7 {
    padding: 1.75rem;
  }

  .md\:p-8 {
    padding: 2rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:px-3\.5 {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:px-extralg {
    padding-left: 120px;
    padding-right: 120px;
  }

  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .md\:py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .md\:pb-0 {
    padding-bottom: 0px;
  }

  .md\:pb-6 {
    padding-bottom: 1.5rem;
  }

  .md\:pl-1 {
    padding-left: 0.25rem;
  }

  .md\:pr-10 {
    padding-right: 2.5rem;
  }

  .md\:pt-20 {
    padding-top: 5rem;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:text-end {
    text-align: end;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-\[15px\] {
    font-size: 15px;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:leading-10 {
    line-height: 2.5rem;
  }

  .md\:leading-\[45px\] {
    line-height: 45px;
  }

  .md\:shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 1024px) {
  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }
}

@media (min-width: 1280px) {
  .xl\:mt-60 {
    margin-top: 15rem;
  }

  .xl\:block {
    display: block;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:h-\[670px\] {
    height: 670px;
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:justify-start {
    justify-content: flex-start;
  }
}

@media (min-width: 1536px) {
  .\32xl\:block {
    display: block;
  }

  .\32xl\:w-80 {
    width: 20rem;
  }

  .\32xl\:justify-center {
    justify-content: center;
  }
}
